/* Declare heights because of positioning of img element */
.hero {
  height: 100vh;
  /*background-color: #777;*/
  background: url(/assets/images/jumbotron.jpg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 30px;
  position: relative;
}

.hero-caption {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 30%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 5px;
    /* border: 8px solid black; */
    color: black;
}
