/* Declare heights because of positioning of img element */
.hero {
  height: 100vh;
  /*background-color: #777;*/
  background: url(/assets/images/SAM_0263.JPG) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 30px;
  position: relative;
}

.hero-title {
    @include position(absolute, 35% 20% null 20%);
    margin: 0 auto;
    z-index: 300;
    color: #fff;
    text-align: center;
    border: 3px solid #fff;
}

.hero-footer {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 5px;
    /* border: 8px solid black; */
    color: black;
}

.social-icons {
    display: block;

    .social-icon {
        display: inline-block;
        font-size: 2em;
        padding: 20px;
        color: #fff;
    }
}

.scroll {

    font-size: 1em;

    i {
        font-size: 2em;
        color: #fff;
    }
}
