/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  background: none;
  border:none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav{
    li {
        a {
            font-size: 16px;
            color: #fff;

            &:hover {
                color: #fff;
                border-bottom: 2px solid #fff;
                background-color: transparent;
            }
        }

        &.active {
            background-color: transparent;
            border-bottom: 2px solid #fff;

            a {
                background-color: transparent;
                color: #fff;
                &:hover {
                    background-color: transparent;
                    color: #fff;
                }
            }
        }
    }
}



.navbar > .container .navbar-brand {
  font-size: 24px;
  color: #fff;
}

.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-toggle {
    border: none;
    color: #fff;

    &:hover,
    &:active {
        background: none;
        border-radius: none;
        text-decoration: underline;
    }
}


.toggle {
  position: relative;
  float: right;
  margin-right: $navbar-padding-horizontal;
  padding: 9px 10px;
  @include navbar-vertical-align(34px);
  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  color: #fff;

  // We remove the `outline` here, but later compensate by attaching `:hover`
  // styles to `:focus`.
  &:focus {
    outline: 0;
  }

  &:hover {
      border-bottom: 2px solid #fff;
  }

  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }
}

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}

@media (max-width: 768px) {
    .navbar-wrapper .navbar {
        padding: 0;
        background-color: #32425a;
    }
    .navbar-wrapper .navbar-nav {
        background-color: #32425a;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
    }
}
